#CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
#CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
ZMK_SPLIT=y

if SHIELD_YKEEB_LEFT

config ZMK_KEYBOARD_NAME
    default "WhyBoard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
